rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.status == "approved";
    }

    match /users/{uid} {
      allow read, update, delete: if isAdmin();
      allow create: if signedIn() && request.auth.uid == uid;
    }

    match /settings/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /requests/{requestId} {
      allow read, update, delete: if isAdmin();
      allow create: if true;
    }
  }
}
