rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{id} { allow read, write: if true; }
    match /settings/{id} { allow read, write: if true; }
    match /requests/{id} { allow read, write: if true; }
  }
}